  <!-- section 4 -->
<section id="tm-section-4" class="tm-section">
    <div class="tm-bg-transparent-black tm-contact-box-pad">
        <div class="row tm-page-4-content">
            <div class="col-md-6 col-sm-12 tm-contact-col">
                <img src="~/img/elonmusk.jpg" style="height:700px" />
            </div>
            <div class="col-md-6 col-sm-12 tm-contact-col">
                <div class="tm-address-box">
                    <p>
                        Musk was born on June 28, 1971, in Pretoria, South Africa. As a child, Musk was so lost in his daydreams about inventions that his parents and doctors ordered a test to check his hearing.
                    </p>
                    <p>
                        At about the time of his parents’ divorce, when he was 10, Musk developed an interest in computers. He taught himself how to program, and when he was 12 he sold his first software: a game he created called Blastar.
                    </p>
                    <p>
                        In grade school, Musk was short, introverted and bookish. He was bullied until he was 15 and went through a growth spurt and learned how to defend himself with karate and wrestling.
                    </p>
                    <p>
                        At age 17, in 1989, Musk moved to Canada to attend Queen’s University and avoid mandatory service in the South African military.
                    </p>
                    <form action="https://www.biography.com/business-figure/elon-musk">
                        <input type="submit" value="Read More" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>