   <!-- section 1 -->
<section id="tm-section-1" class="tm-section">
    <div class="ml-auto">
        <header class="mb-4"><h1 class="tm-text-shadow">Welcome to the future</h1></header>
        <p class="mb-5 tm-font-big">
            SpaceX is an American aerospace manufacturer and space transportation services company headquartered in Hawthorne, California. 
            It was founded in 2002 by Elon Musk with the goal of reducing space transportation costs to enable the colonization of Mars.
        </p>
        <a href="#" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">Continue...</a>
        <!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
    </div>
</section>