@model IEnumerable<SpaceX.Client.Models.LaunchViewModel>
<!-- Mission Patches -- Section 2 -->
<section id="tm-section-2" class="tm-section tm-section-carousel">
    <div>
        <header class="mb-4"><h2 class="tm-text-shadow">Mission patches are emblems designed and worn by astronauts and people affiliated with a mission</h2></header>
        <div class="tm-img-container">
            <div class="tm-img-slider">
                @foreach (var item in Model)
                {
                    if (item.LinkMissionPatch != null || item.LinkMissionPatchSmall != null)
                    {
                        <a href="@item.LinkMissionPatch" class="tm-slider-img"><img src="@item.LinkMissionPatchSmall" alt="@item.MissionName" class="img-fluid"></a>
                    }
                }
            </div>
        </div>
    </div>
</section>

