 <!-- Official Photos - Section 2 -->
<section id="tm-section-2" class="tm-section tm-section-carousel">
    <div>
        <header class="mb-4"><h2 class="tm-text-shadow">SpaceX designs, manufactures and launches the world's most advanced rockets and spacecraft.</h2></header>
        <div class="tm-img-container">
            <div class="tm-img-slider">
                @foreach (var item in ViewBag.AllImages)
                {
                    <a href="@item" class="tm-slider-img"><img src="@item" class="img-fluid"></a>
                }
            </div>
        </div>
    </div>
</section>
